In [2]:
import pandas as pd
import string
from fuzzy_match import match
from fuzzy_match import algorithims
import time

# Import data

In [5]:
# import
master_data = pd.read_csv('../../tresboncoin/data/master/master_data.csv')
moto_database = pd.read_csv('motorcycle_database/master_model.csv')

In [22]:
# append
df  = master_data.copy().dropna()
df.shape

(13383, 8)

In [23]:
df.head()

,url,uniq_id,brand,bike_year,mileage,bike_type,price,model
0,https://www.motoplanete.com/occasion-moto/3764...,motoplanete-37642,kawasaki,2021,476.0,Trail,16999.0,VERSYS 1000 2020
1,https://www.motoplanete.com/occasion-moto/2127...,motoplanete-21278,yamaha,2003,5130.0,Custom,3700.0,WILD STAR
2,https://www.motoplanete.com/occasion-moto/1139...,motoplanete-11392,yamaha,2019,2500.0,Routière & GT,13490.0,NIKEN
3,https://www.motoplanete.com/occasion-moto/3923...,motoplanete-39239,bmw,2021,998.0,Roadster,13990.0,R NineT PURE
4,https://www.motoplanete.com/occasion-moto/1536...,motoplanete-15360,yamaha,2016,2600.0,Custom,8500.0,XV 950 BOLT

# Cleaning

## Motorcycle name

In [24]:
# lower
moto_database.brand = moto_database.brand.str.lower()
moto_database.bike_model = moto_database.bike_model.str.lower()

In [25]:
#remove punctuation
def remove_punctuations(text):
    for punctuation in string.punctuation:
        text = text.replace(punctuation, '')
    return text

moto_database.brand = moto_database.brand.apply(remove_punctuations)
moto_database.bike_model = moto_database.bike_model.apply(remove_punctuations)

In [26]:
# create column with brand + model
moto_database['brand_bike_model'] = moto_database.brand + " " + moto_database.bike_model

In [27]:
moto_database.head()

,segment,brand,title_description,description,first_year_prod,last_year_prod,motor_type,motor_size,motor_power,fuel_system,gearbox,clutch,primary_drive,final_drive,length,width,weight,fuel_capacity,bike_model,brand_bike_model
0,\nSport Touring\t\t\t,triumph,TRIUMPH Rocket III Touring 2011 - Present,Designed for riders who demand serious long ha...,2011.0,Present,"liquid-cooled, DOHC, in-line 3-cylinder","2,294",106/5750 KW(hp)/RPM,multipoint sequential electronic fuel injectio...,5-speed,"wet, multiplate","wet, multiplate",shaft,102.4 in OR 2601 mm,39.1 in OR 993 mm,869 lbs OR 394 kg,5.9 gallons OR 22.3 L,rocket iii touring,triumph rocket iii touring
1,\nTouring\t\t\t,harley davidson,HARLEY DAVIDSON Electra Glide Classic 2004 - 2005,The 2005 MY Harley Davidson FLHTC Electra Glid...,2004.0,2005,"air-cooled, Twin Cam 88",1450,67/5200 KW(hp)/RPM,Electronic Sequential Port Fuel Injection (ESP...,"5-speed, manual","wet multi-disc, manual","wet multi-disc, manual",belt,98.3 in OR 2497 mm,38 in OR 965 mm,827 lbs OR 375 kg,6 gallons OR 22.7 L,electra glide classic,harley davidson electra glide classic
2,\nCustom/Cruiser\t\t\t,triumph,TRIUMPH Thunderbird Storm 2010 - 2011,If you thought the 2010 Thunderbird was a toug...,2010.0,2011,"4-stroke liquid-cooled, DOHC, parallel-twin",1699,97/5200 KW(hp)/RPM,multipoint sequential electronic fuel injection,"6-speed, helical type 2nd - 6th","wet, multiplate","wet, multiplate",toothed belt,92.1 in OR 2339 mm,34.6 in OR 879 mm,746 lbs OR 338 kg,5.8 gallons OR 22.0 L,thunderbird storm,triumph thunderbird storm
3,\nSport / Super Sport\t\t\t,bimota,BIMOTA YB8 1991 - 1992,"The 1992 MY Bimota YB8 is a powerful, liter-cl...",1991.0,1992,"liquid-cooled, four-stroke, transverse four cy...",1002,149/10500 KW(hp)/RPM,4x38mm Mikuni carburetors,"5-speed, manual","wet multi-disc, manual","wet multi-disc, manual",chain,-,-,397 lbs OR 180 kg,5.3 gallons OR 20.1 L,yb8,bimota yb8
4,\nATV/Quad\t\t\t,hyosung,HYOSUNG WOW 50 2005 - 2006,The 2006 MY Hyosung WOW 50 is a small ATV suit...,2005.0,2006,"air-cooled, two-stroke, single cylinder",49,-/- KW(hp)/RPM,carburetor,CVT,"dry, centrifugal","dry, centrifugal",chain,49.2 in OR 1250 mm,30.7 in OR 780 mm,187 lbs OR 85 kg,1.1 gallons OR 4.2 L,wow 50,hyosung wow 50

## Dataframe

In [28]:
# lower text
df.brand = df.brand.str.lower()
df.model = df.model.str.lower()

In [29]:
#remove punctuation
df.brand = df.brand.apply(remove_punctuations)
df.model = df.model.apply(remove_punctuations)

In [30]:
# create column with brand + model
df['brand_bike_model'] = df.brand + " " + df.model

In [31]:
df.head()

,url,uniq_id,brand,bike_year,mileage,bike_type,price,model,brand_bike_model
0,https://www.motoplanete.com/occasion-moto/3764...,motoplanete-37642,kawasaki,2021,476.0,Trail,16999.0,versys 1000 2020,kawasaki versys 1000 2020
1,https://www.motoplanete.com/occasion-moto/2127...,motoplanete-21278,yamaha,2003,5130.0,Custom,3700.0,wild star,yamaha wild star
2,https://www.motoplanete.com/occasion-moto/1139...,motoplanete-11392,yamaha,2019,2500.0,Routière & GT,13490.0,niken,yamaha niken
3,https://www.motoplanete.com/occasion-moto/3923...,motoplanete-39239,bmw,2021,998.0,Roadster,13990.0,r ninet pure,bmw r ninet pure
4,https://www.motoplanete.com/occasion-moto/1536...,motoplanete-15360,yamaha,2016,2600.0,Custom,8500.0,xv 950 bolt,yamaha xv 950 bolt

In [33]:
df.model.nunique()

3748

In [34]:
df.model.value_counts()

r 1200 rt                                                     113
mp3 500 lt                                                    112
r 1200                                                        109
r 1200 gs                                                      96
z 900                                                          93
                                                             ...
dr 125 sm                                                       1
er6 n bridable a2                                               1
xj6f xj6 f                                                      1
electra glide ultra limited 103 ci  harley  davidson  agen      1
multistrada 950 s  abs                                          1
Name: model, Length: 3748, dtype: int64

# Fuzzy matching

## test

### Trigram

In [ ]:
algorithims.trigram("ktm duke 1200", 'ktm 1200 duke abs')

In [ ]:
algorithims.trigram("Yamaha XMAX", 'Yamaha X-MAX 125')

### Cosine

In [ ]:
algorithims.cosine("ktm duke 1200", 'ktm 1200 duke abs')

In [ ]:
algorithims.cosine("Yamaha XMAX", 'Yamaha X-MAX 125')

### Levenshtein

In [ ]:
algorithims.levenshtein("ktm duke 1200", 'ktm 1200 duke abs')

In [ ]:
algorithims.levenshtein("Yamaha XMAX", 'Yamaha X-MAX 125')

### Jaro-Winkler

In [ ]:
algorithims.jaro_winkler("ktm duke 1200", 'ktm 1200 duke abs')

In [ ]:
algorithims.jaro_winkler("Yamaha XMAX", 'Yamaha X-MAX 125')

## Match

In [35]:
choices = moto_database.brand_bike_model.to_list()

In [36]:
def match_one(choices, bike_brand_model, match_type='jaro_winkler'): #match_type options include trigram, cosine, levenshtein, jaro_winkler
    return match.extractOne(bike_brand_model, choices, match_type=match_type, score_cutoff=0.5)

In [ ]:
df['fuzzy_result']= df.brand_bike_model.apply(lambda x: match_one(moto_database.brand_bike_model.to_list(),x))

In [ ]:
df.to_csv('master_data_fuzzy.csv')